.container {
  text-align: center;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.customLabel {
  text-align: center;
  font-size: 200%;
  color: blueviolet;
  font-style: normal;
}

.mat-body, .mat-body-1, .mat-typography {
  height: 100%;
}
