<body style="background-color: sandybrown;
  color: darkred;
  height: 100%;
  min-height: 100%">
<h1>Greeting</h1>
<div [hidden]="!authenticated()">
  <p style="font-size: 2em">Dear {{username}}</p>
  <div [hidden]="!error">
    <p class="danger">Error: {{error}}</p>
  </div>
  <div *ngFor="let event of events" style="text-align: left;">
    <mat-list>
      <mat-list-item style="
      font-size: 1.5em;
      height: 15px">
        Tournament: {{event.tournamentName}}
      </mat-list-item>
      <mat-list-item>
        First team : {{event.firstTeamName}} Second team : {{event.secondTeamName}}
      </mat-list-item>
      <a mat-button color="primary" [routerLink]="['/event', event.id]">
        <mat-icon>right</mat-icon>
        Go to event</a>
    </mat-list>
  </div>
  <mat-paginator [length]="events.length" pageSize=20
                 (page)="getPaginatorData($event)" [pageSizeOptions]="[10, 20, 30]"
                 showFirstLastButtons="false" style="background-color: yellowgreen">
  </mat-paginator>
</div>
<div [hidden]="authenticated()" style="
         font-size: 2.5em;
         text-align: center;
         height: 3em;
         margin-top: 1em;
         color: darkred">
  <p>Login to see bets</p>
</div>
</body>
