<html>
<body style="background-color: sandybrown;
  color: darkred">
<h1>Greeting</h1>
<div [hidden]="!authenticated()">
  <p style="font-size: 2em">Dear {{username}}</p>
  <div [hidden]="!error">
    <p class="danger">Error: {{error}}</p>
  </div>
  <div *ngFor="let event of events">
    <mat-list>
      <mat-list-item style="
      font-size: 1.5em;
      height: 15px">
        Tournament: {{event.tournamentName}}
      </mat-list-item>
      <mat-list-item>
        First team : {{event.firstTeamName}} Second team : {{event.secondTeamName}}
      </mat-list-item>
      <a mat-button color="primary" [routerLink]="['/event', event.id]">
        <mat-icon>right</mat-icon>
        Go to event</a>
    </mat-list>
  </div>
</div>
<div [hidden]="authenticated()">
  <p>Login to see bets</p>
</div>
</body>
</html>
