<div [hidden]="!error" style="text-align: center;
  font-size: 200%;
  color: #17f610;
  font-style: initial">
  <p>There was a problem in register. Please try again</p>
</div>
<div style="text-align: center;
  font-size: 200%;
  color: #17f610;
  font-style: initial">
  <p>Fill this form to register</p>
</div>
<br>
<form (submit)="register()" role="form">
  <mat-form-field appearance="outline">
    <mat-label for="email">Email</mat-label>
    <input matInput [(ngModel)]="credentials.email"
           placeholder="Ex. myemail@outlook.com"
           class="form-control" id="username" name="username"
           type="text"/>
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
    <mat-label for="password">Password</mat-label>
    <input matInput [(ngModel)]="credentials.password"
           placeholder="Ex. SoHardPass"
           class="form-control" id="password" name="password"
           type="password"/>
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary" type="submit">Create user</button>
</form>
