<div [hidden]="!error" class="customLabel" style="text-align: center;
  font-size: 200%;
  color: #17f610;
  font-style: initial">
  There was a problem logging in. Please try again.
</div>
<div class="customLabel" style="text-align: center;
  font-size: 200%;
  color: #17f610;
  font-style: initial">Fill this form to login</div>
<br>
<form class="login-form" (submit)="login()" role="form">
  <mat-form-field appearance="fill">
    <mat-label for="username">Email</mat-label>
    <input matInput [(ngModel)]="credentials.username"
           class="form-control" id="username" name="username"
           type="text"/>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label for="password">Password</mat-label>
    <input matInput [(ngModel)]="credentials.password"
           class="form-control" id="password" name="password"
           type="password"/>
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary" type="submit">Sign in</button>
</form>
<br>
<button mat-raised-button color="primary" (click)="register()">Sign up</button>
